<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
    <link rel="stylesheet" href="css/Style.css">
    <!--<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">-->
</head>
<body ng-app="myApp" ng-controller="myCtrl as my">
<header class="header">

    <!--<p>Add Main company</p>-->
    <input class="add__main-company" type="button" value="Add Main Company"
           ng-click="my.addCompanies=true; my.newCompany.parent_id=0; my.addCompanie=true; my.changeComp=false;">
    <!--<p>Add Child company</p>-->
    <input class="add__child-company" type="button" value="Add Child Company"
           ng-click="my.addCompanies=true; my.mainChecker = true; my.addCompanie=true; my.changeComp=false;">
</header>
<main class="main">

    <div ng-repeat="company in my.companies">
        <span>{{company.company_name }} | {{ company.company_earning}}$</span><span ng-if="company.company_earnings">|{{company.company_earnings+company.company_earning}}$</span>
        <input type="button" value="update" ng-click="my.addCompanies=true;my.newCompany=company;my.mainChecker = true;my.addCompanie=flase;my.changeComp=true;">
        <input type="button" value="delete" ng-click="my.deleteCompanies(company.id)">
        <div ng-include="'js/show-companies.html'"></div>
    </div>



</main>




<div class="modal__window" ng-show="my.addCompanies==true">
    <p>Name Company</p>
    <input type="text" class="modal__input" ng-model="my.newCompany.company_name">
    <p>Earnings Company</p>
    <input type="text" class="modal__input" ng-model="my.newCompany.company_earning">
    <div ng-if="my.mainChecker">
        <select name="" id="select__modal" ng-model="my.newCompany.parent_id">
            <option ng-repeat="company in my.allCompanies" value="{{company.id}}">{{company.company_name}}</option>
        </select>
    </div>

    <input type="button" ng-click="my.addCompany(); my.addCompanies=false" class="model__button-add" value="add" ng-if="my.addCompanie">
    <input type="button" ng-click="my.addCompanies=false" class="model__button-add" value="close">
    <input type="button" ng-click="my.addCompanies=false ; my.updateCompanies()" class="model__button-add" value="change" ng-if="my.changeComp">
</div>


<script src="node_modules/angular/angular.js"></script>
<script src="Js/app.js"></script>
<script src="Js/Controlers/myCtrl.js"></script>
<script src="Js/services/CompanyService.js"></script>
</body>
</html>